
.emoji {
  font-size: 2em;
  font-family: Noto Color Emoji, Symbola;
  padding: 0 0.2em;
}

.emoji:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.emoji:active {
  background-color: rgba(0, 0, 0, 0.6);
}
