
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}


.EmojisItemStyle {
    font-size: 20px;
    /*font-family: Twitter Color Emoji, EmojiOne Color ;*/
    font-family: Noto Emoji, Symbola ;
}

.item {
  display: inline;
}
